extends ./common/layout
block main
  div.ui.facebook.button
    i.facebook.icon
    = 'facebook'
  div.ui.facebook.button
    i.facebook.icon
    = 'google'
  div.ui.facebook.button
    i.facebook.icon
    = 'zhenglongfan'
